{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar Galaxy",
    "description": "The Scalar Galaxy is an example OpenAPI specification to test OpenAPI tools and libraries. It’s a fictional universe with fictional planets and fictional data. Get all the data for [all planets](#tag/planets/GET/planets).\n\n## Resources\n\n* https://github.com/scalar/scalar\n* https://github.com/OAI/OpenAPI-Specification\n* https://scalar.com\n\n## Markdown Support\n\nAll descriptions *can* contain ~~tons of text~~ **Markdown**. [If GitHub supports the syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax), chances are we’re supporting it, too. You can even create [internal links to reference endpoints](#tag/authentication/POST/user/signup).\n\n<details>\n  <summary>Examples</summary>\n\n  **Blockquotes**\n\n  > I love OpenAPI. <3\n\n  **Tables**\n\n  | Feature          | Availability |\n  | ---------------- | ------------ |\n  | Markdown Support | ✓            |\n\n  **Accordion**\n\n  ```html\n  <details>\n    <summary>Using Details Tags</summary>\n    <p>HTML Example</p>\n  </details>\n  ```\n\n  **Images**\n\n  Yes, there’s support for images, too!\n\n  ![Empty placeholder image showing the width/height](https://images.placeholders.dev/?width=1280&height=720)\n\n  **Alerts**\n\n  > [!tip]\n  > You can now use markdown alerts in your descriptions.\n\n</details>\n",
    "version": "1.0.1",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "marc@scalar.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/MIT"
    },
    "x-scalar-sdk-installation": [
      {
        "lang": "Go",
        "description": "```sh\ngo get scalarGalaxy\n```"
      }
    ]
  },
  "externalDocs": {
    "description": "Documentation",
    "url": "https://github.com/scalar/scalar"
  },
  "servers": [
    {
      "url": "https://galaxy.scalar.com"
    },
    {
      "url": "{protocol}://void.scalar.com/{path}",
      "description": "Responds with your request data",
      "variables": {
        "protocol": {
          "enum": [
            "https"
          ],
          "default": "https"
        },
        "path": {
          "default": ""
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    },
    {
      "apiKeyQuery": []
    },
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyCookie": []
    },
    {
      "oAuth2": []
    },
    {
      "openIdConnect": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Some endpoints are public, but some require authentication. We provide all the required endpoints to create an account and authorize yourself."
    },
    {
      "name": "Planets",
      "description": "Everything about planets"
    }
  ],
  "paths": {
    "/planets": {
      "get": {
        "tags": [
          "Planets"
        ],
        "summary": "Get all planets",
        "description": "It’s easy to say you know them all, but do you really? Retrieve all the planets and check whether you missed one.",
        "operationId": "getAllData",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Planet"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResource"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "xml": {
                        "name": "planets"
                      },
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Planet"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResource"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetAllDataAsync(\n    limit: 10,\n    offset: 0\n);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, gosdk.Int64(10), gosdk.Int64(0))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.GetAllDataResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        GetAllDataResponse res = sdk.planets().getAllData()\n                .call();\n\n        if (res.twoHundredApplicationJsonObject().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.ListAllData(context.Background(), sdk.PlanetListAllDataParams{\n\t\tLimit: sdk.F[int64](10),\n\t\tOffset: sdk.F[int64](0),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "Planets"
        ],
        "summary": "Create a planet",
        "description": "Time to play god and create a new planet. What do you think? Ah, don’t think too much. What could go wrong anyway?",
        "operationId": "createPlanet",
        "callbacks": {
          "planetCreated": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "requestBody": {
                  "description": "Information about the newly created planet",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Planet"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Planet",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xE7C2E11da9\");\n\nvar res = await sdk.Planets.CreatePlanetRawAsync(req);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"{\\\"name\\\":\\\"Mars\\\",\\\"description\\\":\\\"The red planet\\\",\\\"type\\\":\\\"terrestrial\\\",\\\"habitabilityIndex\\\":0.68,\\\"physicalProperties\\\":{\\\"mass\\\":0.107,\\\"radius\\\":0.532,\\\"gravity\\\":0.378,\\\"temperature\\\":{\\\"min\\\":130,\\\"max\\\":308,\\\"average\\\":210}},\\\"atmosphere\\\":[{\\\"compound\\\":\\\"CO2\\\",\\\"percentage\\\":95.3}],\\\"discoveredAt\\\":\\\"1610-01-07T00:00:00Z\\\",\\\"image\\\":\\\"https://cdn.scalar.com/photos/mars.jpg\\\",\\\"satellites\\\":[{\\\"name\\\":\\\"Phobos\\\",\\\"diameter\\\":22.2}],\\\"creator\\\":{\\\"name\\\":\\\"Marc\\\"},\\\"tags\\\":[\\\"solar-system\\\",\\\"rocky\\\",\\\"explored\\\"],\\\"callbackUrl\\\":\\\"https://example.com/webhook\\\"}\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.CreatePlanetRawResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        byte[] req = \"0xE7C2E11da9\".getBytes(StandardCharsets.UTF_8);\n\n        CreatePlanetRawResponse res = sdk.planets().createPlanetRaw()\n                .request(req)\n                .call();\n\n        if (res.planet().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.New(context.Background(), sdk.PlanetNewParams{\n\t\tPlanet: sdk.PlanetParam{\n\t\tName: sdk.F[string](\"Mars\"),\n\t},\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      }
    },
    "/planets/{planetId}": {
      "get": {
        "tags": [
          "Planets"
        ],
        "summary": "Get a planet",
        "description": "You’ll better learn a little bit more about the planets. It might come in handy once space travel is available for everyone.",
        "operationId": "getPlanet",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "200": {
            "description": "Planet Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetPlanetAsync(planetId: 1);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetPlanet(ctx, 1)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getPlanet(\n    planetId: 1\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_planet(planet_id=1)\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_planet(planet_id=1)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getPlanet({\n    planetId: 1,\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.GetPlanetResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        GetPlanetResponse res = sdk.planets().getPlanet()\n                .planetId(1L)\n                .call();\n\n        if (res.planet().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.Get(context.Background(), 1)\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      },
      "put": {
        "tags": [
          "Planets"
        ],
        "summary": "Update a planet",
        "description": "Sometimes you make mistakes, that's fine. No worries, you can update all planets.",
        "operationId": "updatePlanet",
        "requestBody": {
          "description": "New information about the planet",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.UpdatePlanetRawAsync(\n    planetId: 1,\n    planet: System.Text.Encoding.UTF8.GetBytes(\"0xD0A6Bd2A9d\")\n);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.UpdatePlanetRaw(ctx, 1, bytes.NewBuffer([]byte(\"{\\\"name\\\":\\\"Mars\\\",\\\"description\\\":\\\"The red planet\\\",\\\"type\\\":\\\"terrestrial\\\",\\\"habitabilityIndex\\\":0.68,\\\"physicalProperties\\\":{\\\"mass\\\":0.107,\\\"radius\\\":0.532,\\\"gravity\\\":0.378,\\\"temperature\\\":{\\\"min\\\":130,\\\"max\\\":308,\\\"average\\\":210}},\\\"atmosphere\\\":[{\\\"compound\\\":\\\"CO2\\\",\\\"percentage\\\":95.3}],\\\"discoveredAt\\\":\\\"1610-01-07T00:00:00Z\\\",\\\"image\\\":\\\"https://cdn.scalar.com/photos/mars.jpg\\\",\\\"satellites\\\":[{\\\"name\\\":\\\"Phobos\\\",\\\"diameter\\\":22.2}],\\\"creator\\\":{\\\"name\\\":\\\"Marc\\\"},\\\"tags\\\":[\\\"solar-system\\\",\\\"rocky\\\",\\\"explored\\\"],\\\"callbackUrl\\\":\\\"https://example.com/webhook\\\"}\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->updatePlanetRaw(\n    planetId: 1,\n    planet: '0xD0A6Bd2A9d'\n\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.update_planet_raw(planet_id=1, planet=io.BytesIO(\"0xD0A6Bd2A9d\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.update_planet_raw(planet_id=1, planet=\"0xD0A6Bd2A9d\".encode())\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.updatePlanetRaw({\n    planetId: 1,\n    planet: bytesToStream(new TextEncoder().encode(\"0xD0A6Bd2A9d\")),\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.UpdatePlanetRawResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        UpdatePlanetRawResponse res = sdk.planets().updatePlanetRaw()\n                .planetId(1L)\n                .planet(\"0xD0A6Bd2A9d\".getBytes(StandardCharsets.UTF_8))\n                .call();\n\n        if (res.planet().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.Update(context.Background(), 1, sdk.PlanetUpdateParams{\n\t\tPlanet: sdk.PlanetParam{\n\t\tName: sdk.F[string](\"Mars\"),\n\t},\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      },
      "delete": {
        "tags": [
          "Planets"
        ],
        "summary": "Delete a planet",
        "operationId": "deletePlanet",
        "description": "This endpoint was used to delete planets. Unfortunately, that caused a lot of trouble for planets with life. So, this endpoint is now deprecated and should not be used anymore.",
        "x-scalar-stability": "experimental",
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.DeletePlanetAsync(planetId: 1);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.DeletePlanet(ctx, 1)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->deletePlanet(\n    planetId: 1\n);\n\nif ($response->statusCode === 200) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    sps_client.planets.delete_planet(planet_id=1)\n\n    # Use the SDK ..."
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.delete_planet(planet_id=1)\n\nif res.status_code == 200\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  await scalarTypescriptSDK.planets.deletePlanet({\n    planetId: 1,\n  });\n\n\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.DeletePlanetResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        DeletePlanetResponse res = sdk.planets().deletePlanet()\n                .planetId(1L)\n                .call();\n\n        // handle response\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\terr := client.Planets.Delete(context.Background(), 1)\n\tif err != nil {\n\t\tpanic(err)\n\t}\n}"
          }
        ]
      }
    },
    "/planets/{planetId}/image": {
      "post": {
        "tags": [
          "Planets"
        ],
        "summary": "Upload an image to a planet",
        "description": "Got a crazy good photo of a planet? Share it with the world!",
        "operationId": "uploadImage",
        "parameters": [
          {
            "$ref": "#/components/parameters/planetId"
          }
        ],
        "requestBody": {
          "description": "Image to upload",
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary",
                    "description": "The image file to upload",
                    "examples": [
                      "@mars.jpg",
                      "@jupiter.png"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/ImageUploaded"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\nusing Scalar.CsharpSdk.Models.Requests;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.UploadImageAsync(\n    planetId: 1,\n    requestBody: new UploadImageRequestBody() {\n        Image = new Image() {\n            FileName = \"example.file\",\n            Content = System.Text.Encoding.UTF8.GetBytes(\"0x0c92e741F1\"),\n        },\n    }\n);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"os\"\n\t\"go-sdk/pkg/models/operations\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    example, fileErr := os.Open(\"example.file\")\n    if fileErr != nil {\n        panic(fileErr)\n    }\n\n    res, err := s.Planets.UploadImage(ctx, 1, &operations.UploadImageRequestBody{\n        Image: &operations.Image{\n            FileName: \"example.file\",\n            Content: example,\n        },\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.ImageUploadedMessage != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Operations;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$requestBody = new Operations\\UploadImageRequestBody(\n    image: new Operations\\Image(\n        fileName: 'example.file',\n        content: '0x0c92e741F1',\n    ),\n);\n\n$response = $sdk->planets->uploadImage(\n    planetId: 1,\n    requestBody: $requestBody\n\n);\n\nif ($response->imageUploadedMessage !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.upload_image(planet_id=1, image={\n        \"file_name\": \"example.file\",\n        \"content\": open(\"example.file\", \"rb\"),\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.upload_image(planet_id=1, request_body=Models::Operations::UploadImageRequestBody.new(\n  image: Models::Operations::Image.new(\n    file_name: 'example.file',\n    content: \"0x0c92e741F1\".encode(),\n  ),\n))\n\nif ! res.image_uploaded_message.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\nimport { openAsBlob } from \"node:fs\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.uploadImage({\n    planetId: 1,\n    requestBody: {\n      image: await openAsBlob(\"example.file\"),\n    },\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.*;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        UploadImageResponse res = sdk.planets().uploadImage()\n                .planetId(1L)\n                .requestBody(UploadImageRequestBody.builder()\n                    .image(Image.builder()\n                        .fileName(\"example.file\")\n                        .content(\"0xA0c92e741F\".getBytes(StandardCharsets.UTF_8))\n                        .build())\n                    .build())\n                .call();\n\n        if (res.imageUploadedMessage().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"io\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.UploadImage(context.Background(), 1, sdk.PlanetUploadImageParams{})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      }
    },
    "/user/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a user",
        "description": "Time to create a user account, eh?",
        "operationId": "createUser",
        "security": [
          {}
        ],
        "requestBody": {
          "description": "User to create",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User"
                  },
                  {
                    "$ref": "#/components/schemas/Credentials"
                  }
                ]
              },
              "examples": {
                "Marc": {
                  "value": {
                    "name": "Marc",
                    "email": "marc@scalar.com",
                    "password": "i-love-scalar"
                  }
                },
                "Cam": {
                  "value": {
                    "name": "Cam",
                    "email": "cam@scalar.com",
                    "password": "scalar-is-cool"
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/User"
                  },
                  {
                    "$ref": "#/components/schemas/Credentials"
                  }
                ]
              },
              "examples": {
                "Marc": {
                  "value": {
                    "name": "Marc",
                    "email": "marc@scalar.com",
                    "password": "i-love-scalar"
                  }
                },
                "Cam": {
                  "value": {
                    "name": "Cam",
                    "email": "cam@scalar.com",
                    "password": "scalar-is-cool"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0x400A6EF4FE\");\n\nvar res = await sdk.Authentication.CreateUserRawAsync(req);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Authentication.CreateUserRaw(ctx, bytes.NewBuffer([]byte(\"{\\\"name\\\":\\\"Marc\\\",\\\"email\\\":\\\"marc@scalar.com\\\",\\\"password\\\":\\\"i-love-scalar\\\"}\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.User != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0x400A6EF4FE';\n\n$response = $sdk->authentication->createUserRaw(\n    request: $request\n);\n\nif ($response->user !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.authentication.create_user_raw(request=io.BytesIO(\"0x400A6EF4FE\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0x400A6EF4FE\".encode()\n\nres = s.authentication.create_user_raw(req)\n\nif ! res.user.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.authentication.createUserRaw(bytesToStream(new TextEncoder().encode(\"0x400A6EF4FE\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.CreateUserRawResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        byte[] req = \"0x400A6EF4FE\".getBytes(StandardCharsets.UTF_8);\n\n        CreateUserRawResponse res = sdk.authentication().createUserRaw()\n                .request(req)\n                .call();\n\n        if (res.user().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tauthentication, err := client.Authentication.NewUser(context.Background(), sdk.AuthenticationNewUserParams{\n\t\tEmail: sdk.F[string](\"marc@scalar.com\"),\n\t\tPassword: sdk.F[string](\"i-love-scalar\"),\n\t\tName: sdk.F[string](\"Marc\"),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(authentication)\n}"
          }
        ]
      }
    },
    "/auth/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get a token",
        "description": "Yeah, this is the boring security stuff. Just get your super secret token and move on.",
        "operationId": "getToken",
        "security": [
          {}
        ],
        "requestBody": {
          "description": "Credentials to authenticate a user",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Token Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Token"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xfD199ba439\");\n\nvar res = await sdk.Authentication.GetTokenRawAsync(req);\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Authentication.GetTokenRaw(ctx, bytes.NewBuffer([]byte(\"{\\\"email\\\":\\\"marc@scalar.com\\\",\\\"password\\\":\\\"i-love-scalar\\\"}\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Token != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xfD199ba439';\n\n$response = $sdk->authentication->getTokenRaw(\n    request: $request\n);\n\nif ($response->token !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.authentication.get_token_raw(request=io.BytesIO(\"0xfD199ba439\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xfD199ba439\".encode()\n\nres = s.authentication.get_token_raw(req)\n\nif ! res.token.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.authentication.getTokenRaw(bytesToStream(new TextEncoder().encode(\"0xfD199ba439\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.GetTokenRawResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        byte[] req = \"0xfD199ba439\".getBytes(StandardCharsets.UTF_8);\n\n        GetTokenRawResponse res = sdk.authentication().getTokenRaw()\n                .request(req)\n                .call();\n\n        if (res.token().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tauthentication, err := client.Authentication.NewToken(context.Background(), sdk.AuthenticationNewTokenParams{\n\t\tCredentials: sdk.CredentialsParam{\n\t\tEmail: sdk.F[string](\"marc@scalar.com\"),\n\t\tPassword: sdk.F[string](\"i-love-scalar\"),\n\t},\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(authentication)\n}"
          }
        ]
      }
    },
    "/me": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Get authenticated user",
        "description": "Find yourself they say. That’s what you can do here.",
        "operationId": "getMe",
        "security": [
          {
            "basicAuth": []
          },
          {
            "oAuth2": [
              "read:account"
            ]
          },
          {
            "bearerAuth": []
          },
          {
            "apiKeyHeader": []
          },
          {
            "apiKeyQuery": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "label": "csharp",
            "lang": "csharp",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Authentication.GetMeAsync();\n\n// handle response"
          },
          {
            "label": "go",
            "lang": "go",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Authentication.GetMe(ctx)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.User != nil {\n        // handle response\n    }\n}"
          },
          {
            "label": "php",
            "lang": "php",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->authentication->getMe(\n\n);\n\nif ($response->user !== null) {\n    // handle response\n}"
          },
          {
            "label": "python",
            "lang": "python",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.authentication.get_me()\n\n    # Handle response\n    print(res)"
          },
          {
            "label": "ruby",
            "lang": "ruby",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.authentication.get_me()\n\nif ! res.user.nil?\n  # handle response\nend"
          },
          {
            "label": "typescript",
            "lang": "typescript",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.authentication.getMe();\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "label": "java",
            "lang": "java",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.GetMeResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        GetMeResponse res = sdk.authentication().getMe()\n                .call();\n\n        if (res.user().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tauthentication, err := client.Authentication.ListMe(context.Background())\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(authentication)\n}"
          }
        ]
      }
    },
    "/moons": {
      "get": {
        "tags": [
          "Planets"
        ],
        "summary": "Get all moons",
        "description": "Fetch every known moon.",
        "operationId": "getMoons",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-scalar-examples": [
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.ListMoons(context.Background())\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      }
    }
  },
  "webhooks": {
    "newPlanet": {
      "post": {
        "tags": [
          "Planets"
        ],
        "requestBody": {
          "description": "Information about a new planet",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Return a 200 status to indicate that the data was received successfully"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "JWT Bearer token authentication"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic HTTP authentication"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key request header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "in": "query",
        "name": "api_key",
        "description": "API key query parameter"
      },
      "apiKeyCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "api_key",
        "description": "API key browser cookie"
      },
      "oAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.0 authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://galaxy.scalar.com/oauth/authorize",
            "tokenUrl": "https://galaxy.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:planets": "modify planets in your account",
              "read:planets": "read your planets"
            },
            "refreshUrl": "",
            "x-usePkce": "SHA-256"
          },
          "clientCredentials": {
            "tokenUrl": "https://galaxy.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:planets": "modify planets in your account",
              "read:planets": "read your planets"
            },
            "refreshUrl": ""
          },
          "implicit": {
            "authorizationUrl": "https://galaxy.scalar.com/oauth/authorize",
            "scopes": {
              "read:account": "read your account information",
              "write:planets": "modify planets in your account",
              "read:planets": "read your planets"
            },
            "refreshUrl": ""
          },
          "password": {
            "tokenUrl": "https://galaxy.scalar.com/oauth/token",
            "scopes": {
              "read:account": "read your account information",
              "write:planets": "modify planets in your account",
              "read:planets": "read your planets"
            },
            "refreshUrl": ""
          }
        }
      },
      "openIdConnect": {
        "type": "openIdConnect",
        "openIdConnectUrl": "https://galaxy.scalar.com/.well-known/openid-configuration",
        "description": "OpenID Connect Authentication"
      }
    },
    "parameters": {
      "planetId": {
        "name": "planetId",
        "description": "The ID of the planet to get",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "format": "int64",
          "examples": [
            1
          ]
        }
      },
      "limit": {
        "name": "limit",
        "description": "The number of items to return",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 10
        }
      },
      "offset": {
        "name": "offset",
        "description": "The number of items to skip before starting to collect the result set",
        "in": "query",
        "required": false,
        "schema": {
          "type": "integer",
          "format": "int64",
          "default": 0
        }
      }
    },
    "responses": {
      "ImageUploaded": {
        "description": "Image uploaded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ImageUploadedMessage"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ImageUploadedMessage"
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad Request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/BadRequestError"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ForbiddenError"
            }
          }
        }
      },
      "NotFound": {
        "description": "NotFound",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/NotFoundError"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Unauthorized",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedError"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/UnauthorizedError"
            }
          }
        }
      },
      "Conflict": {
        "description": "Conflict",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Conflict"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/Conflict"
            }
          }
        }
      },
      "UnprocessableEntity": {
        "description": "Unprocessable Entity",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntity"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/UnprocessableEntity"
            }
          }
        }
      }
    },
    "schemas": {
      "User": {
        "description": "A user",
        "type": "object",
        "xml": {
          "name": "user"
        },
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true,
            "examples": [
              1
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "Marc"
            ]
          }
        }
      },
      "Credentials": {
        "description": "Credentials to authenticate a user",
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "examples": [
              "marc@scalar.com"
            ]
          },
          "password": {
            "type": "string",
            "writeOnly": true,
            "examples": [
              "i-love-scalar"
            ]
          }
        }
      },
      "Token": {
        "description": "A token to authenticate a user",
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "examples": [
              "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
            ]
          }
        }
      },
      "Planet": {
        "description": "A planet in the Scalar Galaxy",
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "xml": {
          "name": "planet"
        },
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "readOnly": true,
            "examples": [
              1
            ],
            "x-variable": "planetId"
          },
          "name": {
            "type": "string",
            "examples": [
              "Mars",
              "Jupiter",
              "HD 40307g"
            ]
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "The red planet",
              "A gas giant with a great red spot"
            ]
          },
          "type": {
            "type": "string",
            "enum": [
              "terrestrial",
              "gas_giant",
              "ice_giant",
              "dwarf",
              "super_earth"
            ],
            "examples": [
              "terrestrial"
            ]
          },
          "habitabilityIndex": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 1,
            "description": "A score from 0 to 1 indicating potential habitability",
            "examples": [
              0.68
            ]
          },
          "physicalProperties": {
            "type": "object",
            "properties": {
              "mass": {
                "type": "number",
                "format": "float",
                "description": "Mass in Earth masses",
                "examples": [
                  0.107
                ]
              },
              "radius": {
                "type": "number",
                "format": "float",
                "description": "Radius in Earth radii",
                "examples": [
                  0.532
                ]
              },
              "gravity": {
                "type": "number",
                "format": "float",
                "description": "Surface gravity in Earth g",
                "examples": [
                  0.378
                ]
              },
              "temperature": {
                "type": "object",
                "properties": {
                  "min": {
                    "type": "number",
                    "format": "float",
                    "description": "Minimum temperature in Kelvin",
                    "examples": [
                      130
                    ]
                  },
                  "max": {
                    "type": "number",
                    "format": "float",
                    "description": "Maximum temperature in Kelvin",
                    "examples": [
                      308
                    ]
                  },
                  "average": {
                    "type": "number",
                    "format": "float",
                    "description": "Average temperature in Kelvin",
                    "examples": [
                      210
                    ]
                  }
                }
              }
            }
          },
          "atmosphere": {
            "type": "array",
            "description": "Atmospheric composition",
            "items": {
              "type": "object",
              "properties": {
                "compound": {
                  "type": "string",
                  "examples": [
                    "CO2",
                    "N2"
                  ]
                },
                "percentage": {
                  "type": "number",
                  "format": "float",
                  "examples": [
                    95.3
                  ]
                }
              }
            }
          },
          "discoveredAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "1610-01-07T00:00:00Z"
            ]
          },
          "image": {
            "type": "string",
            "nullable": true,
            "examples": [
              "https://cdn.scalar.com/photos/mars.jpg"
            ]
          },
          "satellites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Satellite"
            }
          },
          "creator": {
            "$ref": "#/components/schemas/User"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "solar-system",
                "rocky",
                "explored"
              ]
            ]
          },
          "lastUpdated": {
            "type": "string",
            "format": "date-time",
            "readOnly": true,
            "examples": [
              "2024-01-15T14:30:00Z"
            ]
          },
          "callbackUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL to receive notifications about this planet",
            "examples": [
              "https://example.com/webhook"
            ]
          }
        }
      },
      "PaginatedResource": {
        "description": "A paginated resource",
        "type": "object",
        "properties": {
          "meta": {
            "type": "object",
            "properties": {
              "limit": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  10
                ]
              },
              "offset": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  0
                ]
              },
              "total": {
                "type": "integer",
                "format": "int64",
                "examples": [
                  100
                ]
              },
              "next": {
                "type": [
                  "string",
                  "null"
                ],
                "examples": [
                  "/planets?limit=10&offset=10"
                ]
              }
            }
          }
        }
      },
      "ImageUploadedMessage": {
        "x-scalar-ignore": true,
        "description": "Message about an image upload",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "examples": [
              "Image uploaded successfully"
            ]
          },
          "imageUrl": {
            "type": "string",
            "description": "The URL where the uploaded image can be accessed",
            "examples": [
              "https://cdn.scalar.com/images/8f47c132-9d1f-4f83-b5a4-91db5ee757ab.jpg"
            ]
          },
          "uploadedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the image was uploaded",
            "examples": [
              "2024-01-15T14:30:00Z"
            ]
          },
          "fileSize": {
            "type": "integer",
            "description": "Size of the uploaded image in bytes",
            "examples": [
              1048576
            ]
          },
          "mimeType": {
            "type": "string",
            "description": "The content type of the uploaded image",
            "examples": [
              "image/jpeg",
              "image/png"
            ]
          }
        }
      },
      "BadRequestError": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/bad-request"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Bad Request"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              400
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The request was invalid."
            ]
          }
        }
      },
      "ForbiddenError": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/forbidden"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Forbidden"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              403
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "You are not authorized to access this resource."
            ]
          }
        }
      },
      "NotFoundError": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/not-found"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Not Found"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              404
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The resource you are trying to access does not exist."
            ]
          }
        }
      },
      "UnauthorizedError": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/not-found"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Unauthorized"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              401
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "You are not authorized to access this resource."
            ]
          }
        }
      },
      "Conflict": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/conflict"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Conflict"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              409
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The resource you are trying to access is in conflict."
            ]
          }
        }
      },
      "UnprocessableEntity": {
        "x-scalar-ignore": true,
        "description": "RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "examples": [
              "https://example.com/errors/unprocessable-entity"
            ]
          },
          "title": {
            "type": "string",
            "examples": [
              "Unprocessable Entity"
            ]
          },
          "status": {
            "type": "integer",
            "format": "int64",
            "examples": [
              422
            ]
          },
          "detail": {
            "type": "string",
            "examples": [
              "The request was invalid."
            ]
          }
        }
      },
      "Satellite": {
        "description": "A natural satellite (moon) orbiting a planet",
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "examples": [
              "Phobos"
            ]
          },
          "diameter": {
            "type": "number",
            "format": "float",
            "description": "Diameter in kilometers",
            "examples": [
              22.2
            ]
          }
        }
      }
    }
  }
}
