{
  "openapi": "3.1.1",
  "info": {
    "title": "Scalar Galaxy",
    "description": "The Scalar Galaxy is an example OpenAPI specification to test OpenAPI tools and libraries. It’s a fictional universe with fictional planets and fictional data. Get all the data for [all planets](#tag/planets/GET/planets).\n\n## Resources\n\n* https://github.com/scalar/scalar\n* https://github.com/OAI/OpenAPI-Specification\n* https://scalar.com\n\n## Markdown Support\n\nAll descriptions *can* contain ~~tons of text~~ **Markdown**. [If GitHub supports the syntax](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax), chances are we’re supporting it, too. You can even create [internal links to reference endpoints](#tag/authentication/POST/user/signup).\n\n<details>\n  <summary>Examples</summary>\n\n  **Blockquotes**\n\n  > I love OpenAPI. <3\n\n  **Tables**\n\n  | Feature          | Availability |\n  | ---------------- | ------------ |\n  | Markdown Support | ✓            |\n\n  **Accordion**\n\n  ```html\n  <details>\n    <summary>Using Details Tags</summary>\n    <p>HTML Example</p>\n  </details>\n  ```\n\n  **Images**\n\n  Yes, there’s support for images, too!\n\n  ![Empty placeholder image showing the width/height](https://images.placeholders.dev/?width=1280&height=720)\n\n  **Alerts**\n\n  > [!tip]\n  > You can now use markdown alerts in your descriptions.\n\n</details>\n",
    "version": "1.1.0",
    "contact": {
      "name": "Marc from Scalar",
      "url": "https://scalar.com",
      "email": "marc@scalar.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/MIT"
    },
    "x-scalar-sdk-installation": [
      {
        "lang": "Go",
        "description": "```sh\ngo get scalarGalaxy\n```"
      }
    ]
  },
  "externalDocs": {
    "description": "Documentation",
    "url": "https://github.com/scalar/scalar"
  },
  "servers": [
    {
      "url": "https://galaxy.scalar.com"
    },
    {
      "url": "{protocol}://void.scalar.com/{path}",
      "description": "Responds with your request data",
      "variables": {
        "protocol": {
          "enum": [
            "https"
          ],
          "default": "https"
        },
        "path": {
          "default": ""
        }
      }
    }
  ],
  "security": [
    {
      "bearerAuth": []
    },
    {
      "basicAuth": []
    },
    {
      "apiKeyQuery": []
    },
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyCookie": []
    },
    {
      "oAuth2": []
    },
    {
      "openIdConnect": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Some endpoints are public, but some require authentication. We provide all the required endpoints to create an account and authorize yourself."
    },
    {
      "name": "Planets",
      "description": "Everything about planets"
    }
  ],
  "paths": {
    "/planets": {
      "get": {
        "tags": [
          "Planets"
        ],
        "summary": "Get all planets",
        "description": "It’s easy to say you know them all, but do you really? Retrieve all the planets and check whether you missed one.",
        "operationId": "getAllData",
        "security": [
          {}
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/limit"
          },
          {
            "$ref": "#/components/parameters/offset"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Planet"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResource"
                    }
                  ]
                }
              },
              "application/xml": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object",
                      "xml": {
                        "name": "planets"
                      },
                      "properties": {
                        "data": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Planet"
                          }
                        }
                      }
                    },
                    {
                      "$ref": "#/components/schemas/PaginatedResource"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "csharp",
            "label": "getAllData",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetAllDataAsync(\n    limit: 10,\n    offset: 0\n);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "getAllData",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetAllDataAsync(\n    limit: 10,\n    offset: 0\n);\n\n// handle response"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "csharp",
            "label": "getAllData",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetAllDataAsync(\n    limit: 10,\n    offset: 0\n);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "csharp",
            "label": "getAllData",
            "source": "using Scalar.CsharpSdk;\n\nvar sdk = new ScalarCsharpSDK();\n\nvar res = await sdk.Planets.GetAllDataAsync(\n    limit: 10,\n    offset: 0\n);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, nil, nil)\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "getAllData",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n\n\n$response = $sdk->planets->getAllData(\n    limit: 10,\n    offset: 0\n\n);\n\nif ($response->twoHundredApplicationJsonObject !== null) {\n    // handle response\n}"
          },
          {
            "lang": "java",
            "label": "getAllData",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.GetAllDataResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        GetAllDataResponse res = sdk.planets().getAllData()\n                .call();\n\n        if (res.twoHundredApplicationJsonObject().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "getAllData",
            "source": "from scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.get_all_data()\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "getAllData",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nres = s.planets.get_all_data(limit=10, offset=0)\n\nif ! res.two_hundred_application_json_object.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "getAllData",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.getAllData({});\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "getAllData",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.GetAllData(ctx, gosdk.Int64(10), gosdk.Int64(0))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.TwoHundredApplicationJSONObject != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "Go",
            "label": "Go",
            "source": "package main\n\nimport (\n\t\"context\"\n\t\"fmt\"\n\t\"os\"\n\n\tsdk \"github.com/amritk/scalar-go\"\n\t\"github.com/amritk/scalar-go/option\"\n)\n\nfunc main() {\n\tclient := sdk.NewClient(\n\t\toption.WithBearerAuth(os.Getenv(\"BEARER_AUTH\")),\n\t)\n\n\tplanet, err := client.Planets.ListAllData(context.Background(), sdk.PlanetListAllDataParams{\n\t\tLimit: sdk.F[int64](10),\n\t\tOffset: sdk.F[int64](0),\n\t})\n\tif err != nil {\n\t\tpanic(err)\n\t}\n\tfmt.Println(planet)\n}"
          }
        ]
      },
      "post": {
        "tags": [
          "Planets"
        ],
        "summary": "Create a planet",
        "description": "Time to play god and create a new planet. What do you think? Ah, don’t think too much. What could go wrong anyway?",
        "operationId": "createPlanet",
        "callbacks": {
          "planetCreated": {
            "{$request.body#/callbackUrl}": {
              "post": {
                "requestBody": {
                  "description": "Information about the newly created planet",
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/schemas/Planet"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "Your server returns this code if it accepts the callback"
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Planet",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            },
            "application/xml": {
              "schema": {
                "$ref": "#/components/schemas/Planet"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Planet"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        },
        "x-codeSamples": [
          {
            "lang": "csharp",
            "label": "createPlanet_json",
            "source": "using Scalar.CsharpSdk;\nusing Scalar.CsharpSdk.Models.Components;\nusing System;\nusing System.Collections.Generic;\n\nvar sdk = new ScalarCsharpSDK();\n\nPlanetInput req = new PlanetInput() {\n    Name = \"HD 40307g\",\n    Description = \"The red planet\",\n    Type = Scalar.CsharpSdk.Models.Components.Type.Terrestrial,\n    HabitabilityIndex = 0.68F,\n    PhysicalProperties = new PhysicalProperties() {\n        Mass = 0.107F,\n        Radius = 0.532F,\n        Gravity = 0.378F,\n        Temperature = new Temperature() {\n            Min = 130F,\n            Max = 308F,\n            Average = 210F,\n        },\n    },\n    Atmosphere = new List<Atmosphere>() {\n        new Atmosphere() {\n            Compound = \"N2\",\n            Percentage = 95.3F,\n        },\n    },\n    DiscoveredAt = System.DateTime.Parse(\"1610-01-07T00:00:00Z\"),\n    Image = \"https://cdn.scalar.com/photos/mars.jpg\",\n    Satellites = new List<Satellite>() {\n        new Satellite() {\n            Name = \"Phobos\",\n            Diameter = 22.2F,\n        },\n    },\n    Creator = new UserInput() {\n        Name = \"Marc\",\n    },\n    Tags = new List<string>() {\n        \"solar-system\",\n        \"rocky\",\n        \"explored\",\n    },\n    CallbackUrl = \"https://example.com/webhook\",\n};\n\nvar res = await sdk.Planets.CreatePlanetJsonAsync(req);\n\n// handle response"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_raw",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xE7C2E11da9\");\n\nvar res = await sdk.Planets.CreatePlanetRawAsync(req);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_json",
            "source": "using Scalar.CsharpSdk;\nusing Scalar.CsharpSdk.Models.Components;\nusing System;\nusing System.Collections.Generic;\n\nvar sdk = new ScalarCsharpSDK();\n\nPlanetInput req = new PlanetInput() {\n    Name = \"HD 40307g\",\n    Description = \"The red planet\",\n    Type = Scalar.CsharpSdk.Models.Components.Type.Terrestrial,\n    HabitabilityIndex = 0.68F,\n    PhysicalProperties = new PhysicalProperties() {\n        Mass = 0.107F,\n        Radius = 0.532F,\n        Gravity = 0.378F,\n        Temperature = new Temperature() {\n            Min = 130F,\n            Max = 308F,\n            Average = 210F,\n        },\n    },\n    Atmosphere = new List<Atmosphere>() {\n        new Atmosphere() {\n            Compound = \"N2\",\n            Percentage = 95.3F,\n        },\n    },\n    DiscoveredAt = System.DateTime.Parse(\"1610-01-07T00:00:00Z\"),\n    Image = \"https://cdn.scalar.com/photos/mars.jpg\",\n    Satellites = new List<Satellite>() {\n        new Satellite() {\n            Name = \"Phobos\",\n            Diameter = 22.2F,\n        },\n    },\n    Creator = new UserInput() {\n        Name = \"Marc\",\n    },\n    Tags = new List<string>() {\n        \"solar-system\",\n        \"rocky\",\n        \"explored\",\n    },\n    CallbackUrl = \"https://example.com/webhook\",\n};\n\nvar res = await sdk.Planets.CreatePlanetJsonAsync(req);\n\n// handle response"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_raw",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xE7C2E11da9\");\n\nvar res = await sdk.Planets.CreatePlanetRawAsync(req);\n\n// handle response"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_json",
            "source": "using Scalar.CsharpSdk;\nusing Scalar.CsharpSdk.Models.Components;\nusing System;\nusing System.Collections.Generic;\n\nvar sdk = new ScalarCsharpSDK();\n\nPlanetInput req = new PlanetInput() {\n    Name = \"HD 40307g\",\n    Description = \"The red planet\",\n    Type = Scalar.CsharpSdk.Models.Components.Type.Terrestrial,\n    HabitabilityIndex = 0.68F,\n    PhysicalProperties = new PhysicalProperties() {\n        Mass = 0.107F,\n        Radius = 0.532F,\n        Gravity = 0.378F,\n        Temperature = new Temperature() {\n            Min = 130F,\n            Max = 308F,\n            Average = 210F,\n        },\n    },\n    Atmosphere = new List<Atmosphere>() {\n        new Atmosphere() {\n            Compound = \"N2\",\n            Percentage = 95.3F,\n        },\n    },\n    DiscoveredAt = System.DateTime.Parse(\"1610-01-07T00:00:00Z\"),\n    Image = \"https://cdn.scalar.com/photos/mars.jpg\",\n    Satellites = new List<Satellite>() {\n        new Satellite() {\n            Name = \"Phobos\",\n            Diameter = 22.2F,\n        },\n    },\n    Creator = new UserInput() {\n        Name = \"Marc\",\n    },\n    Tags = new List<string>() {\n        \"solar-system\",\n        \"rocky\",\n        \"explored\",\n    },\n    CallbackUrl = \"https://example.com/webhook\",\n};\n\nvar res = await sdk.Planets.CreatePlanetJsonAsync(req);\n\n// handle response"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_raw",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xE7C2E11da9\");\n\nvar res = await sdk.Planets.CreatePlanetRawAsync(req);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_json",
            "source": "using Scalar.CsharpSdk;\nusing Scalar.CsharpSdk.Models.Components;\nusing System;\nusing System.Collections.Generic;\n\nvar sdk = new ScalarCsharpSDK();\n\nPlanetInput req = new PlanetInput() {\n    Name = \"HD 40307g\",\n    Description = \"The red planet\",\n    Type = Scalar.CsharpSdk.Models.Components.Type.Terrestrial,\n    HabitabilityIndex = 0.68F,\n    PhysicalProperties = new PhysicalProperties() {\n        Mass = 0.107F,\n        Radius = 0.532F,\n        Gravity = 0.378F,\n        Temperature = new Temperature() {\n            Min = 130F,\n            Max = 308F,\n            Average = 210F,\n        },\n    },\n    Atmosphere = new List<Atmosphere>() {\n        new Atmosphere() {\n            Compound = \"N2\",\n            Percentage = 95.3F,\n        },\n    },\n    DiscoveredAt = System.DateTime.Parse(\"1610-01-07T00:00:00Z\"),\n    Image = \"https://cdn.scalar.com/photos/mars.jpg\",\n    Satellites = new List<Satellite>() {\n        new Satellite() {\n            Name = \"Phobos\",\n            Diameter = 22.2F,\n        },\n    },\n    Creator = new UserInput() {\n        Name = \"Marc\",\n    },\n    Tags = new List<string>() {\n        \"solar-system\",\n        \"rocky\",\n        \"explored\",\n    },\n    CallbackUrl = \"https://example.com/webhook\",\n};\n\nvar res = await sdk.Planets.CreatePlanetJsonAsync(req);\n\n// handle response"
          },
          {
            "lang": "csharp",
            "label": "createPlanet_raw",
            "source": "using Scalar.CsharpSdk;\nusing System;\n\nvar sdk = new ScalarCsharpSDK();\n\nbyte[] req = System.Text.Encoding.UTF8.GetBytes(\"0xE7C2E11da9\");\n\nvar res = await sdk.Planets.CreatePlanetRawAsync(req);\n\n// handle response"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"go-sdk/pkg/types\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetJSON(ctx, &shared.PlanetInput{\n        Name: \"Mars\",\n        Description: gosdk.String(\"The red planet\"),\n        Type: shared.TypeTerrestrial.ToPointer(),\n        HabitabilityIndex: gosdk.Float32(0.68),\n        PhysicalProperties: &shared.PhysicalProperties{\n            Mass: gosdk.Float32(0.107),\n            Radius: gosdk.Float32(0.532),\n            Gravity: gosdk.Float32(0.378),\n            Temperature: &shared.Temperature{\n                Min: gosdk.Float32(130),\n                Max: gosdk.Float32(308),\n                Average: gosdk.Float32(210),\n            },\n        },\n        Atmosphere: []shared.Atmosphere{\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n            shared.Atmosphere{\n                Compound: gosdk.String(\"CO2\"),\n                Percentage: gosdk.Float32(95.3),\n            },\n        },\n        DiscoveredAt: types.MustNewTimeFromString(\"1610-01-07T00:00:00Z\"),\n        Image: gosdk.String(\"https://cdn.scalar.com/photos/mars.jpg\"),\n        Satellites: []shared.Satellite{\n            shared.Satellite{\n                Name: \"Phobos\",\n                Diameter: gosdk.Float32(22.2),\n            },\n        },\n        Creator: &shared.UserInput{\n            Name: gosdk.String(\"Marc\"),\n        },\n        Tags: []string{\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        },\n        CallbackURL: gosdk.String(\"https://example.com/webhook\"),\n    })\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "go",
            "label": "createPlanet_raw",
            "source": "package main\n\nimport(\n\t\"context\"\n\t\"go-sdk/pkg/models/shared\"\n\tgosdk \"go-sdk\"\n\t\"bytes\"\n\t\"log\"\n)\n\nfunc main() {\n    ctx := context.Background()\n\n    s := gosdk.New()\n\n    res, err := s.Planets.CreatePlanetRaw(ctx, bytes.NewBuffer([]byte(\"0xEBb3cd2fdF\")))\n    if err != nil {\n        log.Fatal(err)\n    }\n    if res.Planet != nil {\n        // handle response\n    }\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_json",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\nuse scalar\\PhpSdk\\Models\\Components;\nuse scalar\\PhpSdk\\Utils;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = new Components\\PlanetInput(\n    name: 'HD 40307g',\n    description: 'The red planet',\n    type: Components\\Type::Terrestrial,\n    habitabilityIndex: 0.68,\n    physicalProperties: new Components\\PhysicalProperties(\n        mass: 0.107,\n        radius: 0.532,\n        gravity: 0.378,\n        temperature: new Components\\Temperature(\n            min: 130,\n            max: 308,\n            average: 210,\n        ),\n    ),\n    atmosphere: [\n        new Components\\Atmosphere(\n            compound: 'N2',\n            percentage: 95.3,\n        ),\n    ],\n    discoveredAt: Utils\\Utils::parseDateTime('1610-01-07T00:00:00Z'),\n    image: 'https://cdn.scalar.com/photos/mars.jpg',\n    satellites: [\n        new Components\\Satellite(\n            name: 'Phobos',\n            diameter: 22.2,\n        ),\n    ],\n    creator: new Components\\UserInput(\n        name: 'Marc',\n    ),\n    tags: [\n        'solar-system',\n        'rocky',\n        'explored',\n    ],\n    callbackUrl: 'https://example.com/webhook',\n);\n\n$response = $sdk->planets->createPlanetJson(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "php",
            "label": "createPlanet_raw",
            "source": "declare(strict_types=1);\n\nrequire 'vendor/autoload.php';\n\nuse scalar\\PhpSdk;\n\n$sdk = PhpSdk\\ScalarPhpSDK::builder()->build();\n\n$request = '0xE7C2E11da9';\n\n$response = $sdk->planets->createPlanetRaw(\n    request: $request\n);\n\nif ($response->planet !== null) {\n    // handle response\n}"
          },
          {
            "lang": "java",
            "label": "createPlanet_json",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.time.OffsetDateTime;\nimport java.util.List;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.components.*;\nimport org.scalar.java_sdk.models.operations.CreatePlanetJsonResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        PlanetInput req = PlanetInput.builder()\n                .name(\"Mars\")\n                .description(\"The red planet\")\n                .type(Type.TERRESTRIAL)\n                .habitabilityIndex(0.68f)\n                .physicalProperties(PhysicalProperties.builder()\n                    .mass(0.107f)\n                    .radius(0.532f)\n                    .gravity(0.378f)\n                    .temperature(Temperature.builder()\n                        .min(130f)\n                        .max(308f)\n                        .average(210f)\n                        .build())\n                    .build())\n                .atmosphere(List.of(\n                    Atmosphere.builder()\n                        .compound(\"CO2\")\n                        .percentage(95.3f)\n                        .build(),\n                    Atmosphere.builder()\n                        .compound(\"CO2\")\n                        .percentage(95.3f)\n                        .build(),\n                    Atmosphere.builder()\n                        .compound(\"CO2\")\n                        .percentage(95.3f)\n                        .build()))\n                .discoveredAt(OffsetDateTime.parse(\"1610-01-07T00:00:00Z\"))\n                .image(\"https://cdn.scalar.com/photos/mars.jpg\")\n                .satellites(List.of(\n                    Satellite.builder()\n                        .name(\"Phobos\")\n                        .diameter(22.2f)\n                        .build()))\n                .creator(UserInput.builder()\n                    .name(\"Marc\")\n                    .build())\n                .tags(List.of(\n                    \"solar-system\",\n                    \"rocky\",\n                    \"explored\"))\n                .callbackUrl(\"https://example.com/webhook\")\n                .build();\n\n        CreatePlanetJsonResponse res = sdk.planets().createPlanetJson()\n                .request(req)\n                .call();\n\n        if (res.planet().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "lang": "java",
            "label": "createPlanet_raw",
            "source": "package hello.world;\n\nimport java.lang.Exception;\nimport java.nio.charset.StandardCharsets;\nimport org.scalar.java_sdk.ScalarJavaSDK;\nimport org.scalar.java_sdk.models.operations.CreatePlanetRawResponse;\n\npublic class Application {\n\n    public static void main(String[] args) throws Exception {\n\n        ScalarJavaSDK sdk = ScalarJavaSDK.builder()\n            .build();\n\n        byte[] req = \"0xE7C2E11da9\".getBytes(StandardCharsets.UTF_8);\n\n        CreatePlanetRawResponse res = sdk.planets().createPlanetRaw()\n                .request(req)\n                .call();\n\n        if (res.planet().isPresent()) {\n            // handle response\n        }\n    }\n}"
          },
          {
            "lang": "python",
            "label": "createPlanet_json",
            "source": "import scalar_python_sdk\nfrom scalar_python_sdk import ScalarPythonSDK\nfrom scalar_python_sdk.utils import parse_datetime\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_json(request={\n        \"name\": \"Mars\",\n        \"description\": \"The red planet\",\n        \"type\": scalar_python_sdk.Type.TERRESTRIAL,\n        \"habitability_index\": 0.68,\n        \"physical_properties\": {\n            \"mass\": 0.107,\n            \"radius\": 0.532,\n            \"gravity\": 0.378,\n            \"temperature\": {\n                \"min\": 130,\n                \"max\": 308,\n                \"average\": 210,\n            },\n        },\n        \"atmosphere\": [\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n            {\n                \"compound\": \"CO2\",\n                \"percentage\": 95.3,\n            },\n        ],\n        \"discovered_at\": parse_datetime(\"1610-01-07T00:00:00Z\"),\n        \"image\": \"https://cdn.scalar.com/photos/mars.jpg\",\n        \"satellites\": [\n            {\n                \"name\": \"Phobos\",\n                \"diameter\": 22.2,\n            },\n        ],\n        \"creator\": {\n            \"name\": \"Marc\",\n        },\n        \"tags\": [\n            \"solar-system\",\n            \"rocky\",\n            \"explored\",\n        ],\n        \"callback_url\": \"https://example.com/webhook\",\n    })\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "python",
            "label": "createPlanet_raw",
            "source": "import io\nfrom scalar_python_sdk import ScalarPythonSDK\n\n\nwith ScalarPythonSDK() as sps_client:\n\n    res = sps_client.planets.create_planet_raw(request=io.BytesIO(\"0xE7C2E11da9\".encode()))\n\n    # Handle response\n    print(res)"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_json",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = Models::Shared::PlanetInput.new(\n  name: 'HD 40307g',\n  description: 'The red planet',\n  type: Models::Shared::Type::TERRESTRIAL,\n  habitability_index: 0.68,\n  physical_properties: Models::Shared::PhysicalProperties.new(\n    mass: 0.107,\n    radius: 0.532,\n    gravity: 0.378,\n    temperature: Models::Shared::Temperature.new(\n      min: 130.0,\n      max: 308.0,\n      average: 210.0,\n    ),\n  ),\n  atmosphere: [\n    Models::Shared::Atmosphere.new(\n      compound: 'N2',\n      percentage: 95.3,\n    ),\n  ],\n  discovered_at: DateTime.iso8601('1610-01-07T00:00:00Z'),\n  image: 'https://cdn.scalar.com/photos/mars.jpg',\n  satellites: [\n    Models::Shared::Satellite.new(\n      name: 'Phobos',\n      diameter: 22.2,\n    ),\n  ],\n  creator: Models::Shared::UserInput.new(\n    name: 'Marc',\n  ),\n  tags: [\n    'solar-system',\n    'rocky',\n    'explored',\n  ],\n  callback_url: 'https://example.com/webhook',\n)\n\nres = s.planets.create_planet_json(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "ruby",
            "label": "createPlanet_raw",
            "source": "require 'scalar_ruby_sdk'\n\ns = ::ScalarRubySDK::ScalarRubySDK.new\n\nreq = \"0xE7C2E11da9\".encode()\n\nres = s.planets.create_planet_raw(req)\n\nif ! res.planet.nil?\n  # handle response\nend"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_json",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetJson({\n    name: \"Mars\",\n    description: \"The red planet\",\n    type: \"terrestrial\",\n    habitabilityIndex: 0.68,\n    physicalProperties: {\n      mass: 0.107,\n      radius: 0.532,\n      gravity: 0.378,\n      temperature: {\n        min: 130,\n        max: 308,\n        average: 210,\n      },\n    },\n    atmosphere: [\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n      {\n        compound: \"CO2\",\n        percentage: 95.3,\n      },\n    ],\n    discoveredAt: new Date(\"1610-01-07T00:00:00Z\"),\n    image: \"https://cdn.scalar.com/photos/mars.jpg\",\n    satellites: [\n      {\n        name: \"Phobos\",\n        diameter: 22.2,\n      },\n    ],\n    creator: {\n      name: \"Marc\",\n    },\n    tags: [\n      \"solar-system\",\n      \"rocky\",\n      \"explored\",\n    ],\n    callbackUrl: \"https://example.com/webhook\",\n  });\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "typescript",
            "label": "createPlanet_raw",
            "source": "import { ScalarTypescriptSDK } from \"@scalar/typescript-sdk\";\n\nconst scalarTypescriptSDK = new ScalarTypescriptSDK();\n\nasync function run() {\n  const result = await scalarTypescriptSDK.planets.createPlanetRaw(bytesToStream(new TextEncoder().encode(\"0xE7C2E11da9\")));\n\n  // Handle the result\n  console.log(result);\n}\n\nrun();"
          },
          {
            "lang": "go",
            "label": "createPlanet_json",
[...]
